In [459]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np
import seaborn as sns
import math
import pickle

In [460]:
'''
PTS: Points per game
FP: Fantasy points per game
FTA: Free throw attempts per game
MIN: Minutes per game
rankings: NBA 2K rating
'''
# Importing CSV data into pandas dataframe
df = pd.read_csv("..\data\data.csv")
# Chose features that show linear behaviour when graphed against rankings
df = df[['PTS', 'FP', 'FTA', 'MIN', 'rankings']]
df.dropna()

       PTS    FP  FTA   MIN  rankings
0     14.4  31.9  3.6  32.5      80.0
1      9.5  19.3  1.3  24.5      76.0
2      6.3  11.1  1.2  15.8      71.0
3      2.9   5.5  0.4  10.2      68.0
4      3.0   6.3  0.5  11.2      71.0
...    ...   ...  ...   ...       ...
2407   6.8  14.7  1.6  17.0      73.0
2408  13.9  25.7  1.8  31.7      77.0
2409  10.1  18.8  2.3  24.7      73.0
2410  16.1  33.3  4.2  32.4      84.0
2411   8.3  22.5  2.2  23.7      73.0

[2412 rows x 5 columns]

In [461]:
X = np.array(df.drop(['rankings'], axis=1))
y = np.array(df['rankings'])

In [462]:
# Scaled features down to [-1,1]
scaler = preprocessing.StandardScaler()
scaled_X = scaler.fit_transform(X)

In [463]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, test_size=0.5)

In [464]:
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [465]:
# Compute various success metrics for regression
r2 = r2_score(y_true=y_test, y_pred=clf.predict(X_test))
mse = mean_squared_error(y_true=y_test, y_pred=clf.predict(X_test))
rmse = math.sqrt(mse)
print(f"R2: {r2}, MSE: {mse}, RMSE: {rmse}")

R2: 0.8770801260850437, MSE: 4.3614694907291005, RMSE: 2.0884131513493926

In [466]:
with open('model.pkl', 'wb') as f:
    pickle.dump(clf, f)

with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)